/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
#screen-dialog-container {
	position: absolute;
	z-index: -1;
	width: 1279px;
	height: 720px;
	left: 0;
	top: 0;
}

.overlay2 {
	display: none;
	position: absolute;
	/*left: 0;
	top: 0;
	width:100%;
	height:100%;*/
	left: 50%;
	top: 50%;
	text-align:center;
	/*z-index: 9999;*/
	font-family: 'JungleFever';
	font-size: 26px;
	color: rgb(255,255,179);
	white-space: nowrap;
}

.event-barrier {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border:1px solid #000;
}

.transparent {
	opacity: 0.5;
}

.blur {
 	opacity: .2 !important;
    background: transparent none;
}

.vertical-align-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

ul.vertical-button-nav {
	margin: 15px 0 0 0;
	padding: 0;
	text-align: center;
	display: inline-block;
}

ul.vertical-button-nav > li {
	list-style-type: none;
}

div.dialog-content {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	white-space: normal;
}

#dialog-quit div.dialog-content {
 	width: 388px;
}

div.dialog-title {
	position: relative;
	font-size: 28px;
	color: rgb(141,122,46);
	left: 257px;
	top: 50px;
	width: 240px;
}

div.dialog-title-wide {
	left: 360px;
	width: 411px;
}

#dialog-game-menu .dialog-content {
 	width: 388px;
}

#dialog-game-menu .vertical-button-nav {
	margin-top: 40px;
}

#dialog-game-menu .button-huge {
	height: 89px;
	line-height: 76px;
}

#dialog-game-menu .button-regular {
	height: 102px;
	line-height: 86px;
}

#dialog-level-won .dialog-content {
 	width: 350px;
 	font-size: 27px;
}

#dialog-level-won>div ul {
	display: inline-block;
}

#dialog-level-won table {
	font-size: inherit;
	color: inherit;
	margin-top: 20px;
}

#dialog-level-won table th {
	color: inherit;
	text-align: left;
	white-space: nowrap;
}

#dialog-level-won table td {
	color: rgb(243,209,111);
	padding-left: 10px;
}


.button-huge {
	width: 388px;
	vertical-align: middle;
	height: 94px;
	line-height: 79px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
	font-size: 27px;
	/*background-position: 3px;*/
	background-origin: content-box;
	padding: 3px 0;
}

.button-huge-hilight {
	width: 394px; /*388px + 6px*/
	/*background-position: 0;*/
	background-origin: padding-box;
}

.button-big {
	width: 388px;
	vertical-align: middle;
	height: 90px;
	line-height: 76px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
}

.button-medium {
	width: 164px;
	vertical-align: middle;
	height: 55px;
	line-height: 46px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
	font-size: 22px;
}

.button-small {
	width: 140px;
	vertical-align: middle;
	height: 102px;
	line-height: 86px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
}

.button-regular {
	width: 184px;
	vertical-align: middle;
	height: 108px;
	line-height: 91px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
	display: inline-block;
}

.game-option-arrow {
	position: relative;
	top: 5px;
	display: none;
}

.dialog-small {
	width: 718px;
	height: 248px;
	margin-left: -359px; /*(718/2)*/
	margin-top: -124px; /*(-248/2)*/
}

.dialog-regular {
	width: 718px;
	height: 626px;
	margin-left: -359px; /*-718/2*/
	margin-top: -323px; /*-626/2*/
}

.dialog-regular-no-title {
	width: 718px;
	height: 590px;
	margin-left: -359px; /*-718/2*/
	margin-top: -295px; /*-590/2*/
}

.dialog-large {
	width: 1082px;
	height: 624px;
	margin-left: -541px; /*-1181/2*/
	margin-top: -312px; /*-624/2*/
}

#dialog-leaderboard div.dialog-content {
	margin-top: 130px;
}

#dialog-leaderboard .button-medium {
	width: 380px;
	height: 50px;
}

.leaderboard-caption {
	position: absolute;
	z-index: 2;
	top: 145px;
	height: 55px;
	left: 50%;
	width: 416px;
	margin-left: -208px; /*-416px/2*/
	line-height: 50px;
	color: rgb(255,255,179);
	/*border: 1px solid black;*/
}

#leaderboard-caption-relaxed {
	display: none;
}

#leaderboard {
	font-size: 24px;
	line-height: 22px;
	color: rgb(13,97,132);
	padding: 40px 0 10px 0;
	margin-bottom: 10px;
	border: 5px solid rgb(1,107,69);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#leaderboard th {
	color: rgb(141,122,46);
}

.lb-col1 {
	min-width: 210px;
}

.lb-col2 {
	min-width: 375px;
	text-align: left;
}

.lb-col3 {
	text-align: left;
	min-width: 215px;
}

.left-right{
	vertical-align: middle;
}

#dialog-leaderboard .vertical-button-nav {
	margin-top: 5px;
}

#dialog-time-out div.dialog-content {
 	width: 500px;
}

#dialog-you-won div.dialog-content {
 	width: 500px;
}

#dialog-you-won div.dialog-content p {
 	font-size: 23px;
}

span#final-score {
	color: rgb(243,209,111);
}

#dialog-loading {
	width: 543px;
	height: 268px;
	left: 368px;
	top: 220px;
	font-size: 28px;
}

#dialog-new-game {
	font-size: 27px;
}

#dialog-new-game ul.vertical-button-nav {
	margin-top: 20px;
}

#dialog-profile-delete div.dialog-content {
	width: 375px;
}

#dialog-profile-create {
	font-size: 27px;
}

#dialog-profile-create #keypad {
	font-family: 'Helvetica';
	font-size: 17px;
}

#dialog-profile-create .dialog-title {
	top: 35px;
	/*left: 20px;*/
}

.profile-name {
	background-image: url(../res/img/dialog/profiles-name-area.png);
	width: 280px;
	height: 48px;
	border: none;
}

#keypad {
	background-image: url(../res/img/dialog/keyboard/keypad-regular.png);
	width: 376px;
	height: 238px;
}

ul.galapago-drop-down {
	list-style-type: none;
	text-align: left;
	width: 326px;
	height: 177px;
	padding: 10px 0px 0px 20px;
	margin: -20px 0px 0px 20px;
	/*visibility: hidden;*/
}

#button-game-tips, #button-off {
	display: inline-block;
}

#dialog-profile-list {
	font-size: 18px;
}

#dialog-profile-list #option-save {
	height: 150px;
	background-size: 388px 150px;
	line-height: 27px;
	padding-top: 45px;
	font-size: 21px;
}

#dialog-reset-game div.dialog-content {
	width: 442px;
}

#dialog-help div.dialog-content {
	width: 800px;
	margin: 30px 0 0 30px;
	font-size: 23px;
	color: rgb(2, 57, 80);
}

#help-text-scroll {
	height: 314px; /* needs to match DialogHelp.SCROLL_DIV_PAGE_HEIGHT */
	width: 775px;
	text-align: left;
}

#dialog-help div.dialog-content h4 {
	margin: 0;
	line-height: 1.15em; /* should match line-height for #dialog-help div.dialog-content p */
}

#dialog-help div.dialog-content p {
	margin: 0em 0em 1.15em 0em;
	line-height: 1.15em; /* should match line-height for #dialog-help div.dialog-content h4 */
}

#dialog-help .paging {
	color: rgb(222, 176, 98);
	height: 44px;
	line-height: 44px;
}

#pages {
	width: 151px;
	display: inline-block;
}

#current-page{
	color: rgb(255,255,179);
}

.dialog-arrow-container {
	width: 44px;
	height: 44px;
	display: inline-block;
}

.up-down{
	vertical-align: middle;
}

#dialog-help #version {
	text-align: left;
	color: rgb(222, 176, 98);
	margin-top: 20px;
}

#dialog-help #close-positioner {
	margin-top: -37px;
}

#dialog-help .button-medium {
	height: 44px;
	width: 152px;
	line-height: 35px;
	color: rgb(255,255,179);
}

#div-level-loading {
	display: none;
	position: absolute;
	background: url("../res/img/background/dialog-small-no-title.png"); /*TODO set in code */
	width: 544px;
	height: 264px;
	top: 228px;
	left: 368px;
	z-index: 999;
	font-family: 'JungleFever';
	font-size: 26px;
	color: rgba(255,255,255, 100);
	line-height: 264px;
	text-align: center;
	background-size: 100%;
}

#score-breakdown td {
	min-width: 160px;
	max-width: 160px;
}

#dialog-profile-create-init .dialog-title {
	top: 30px;
}

#dialog-profile-create-init .dialog-content {
	margin-top: -90px;
}