.vertical-align-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

ul.vertical-button-nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	display: inline-block;
}

ul.vertical-button-nav > li {
	list-style-type: none;
}

#dialog-quit {
	width: 717px;
	height: 590px;
	/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
	left: 281px; /*(1279-717/2)*/
	top: 65px; /*(720-590/2)*/

}

div.dialog-content {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	white-space: normal;
}

#dialog-quit div.dialog-content {
 	width: 388px;
}

div.dialog-title {
	position: relative;
	font-size: 28px;
	color: rgb(141,122,46);
	left: 257px;
	top: 50px;
	width: 240px;
}

div.dialog-title-wide {
	left: 360px;
	width: 411px;
}

#dialog-game-menu {
	width: 717px;
	height: 690px;
	left: 281px; /*(1279-717/2)*/
	top: 15px; /*(720-690/2)*/
}

#dialog-game-menu .dialog-content {
 	width: 388px;
}

#dialog-game-menu .vertical-button-nav {
	margin-top: 40px;
}

#dialog-level-won {
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-level-won .dialog-content {
 	width: 350px;
 	font-size: 27px;
}

#dialog-level-won>div ul {
	display: inline-block;
}

#dialog-level-won table {
	font-size: inherit;
	color: inherit;
	margin-top: 20px;
}

#dialog-level-won table th {
	color: inherit;
	text-align: left;
	white-space: nowrap;
}

#dialog-level-won table td {
	color: rgb(243,209,111);
	padding-left: 10px;
}


.button-huge {
	width: 388px;
	vertical-align: middle;
	height: 94px;
	line-height: 79px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
	font-size: 27px;
}

.button-big {
	width: 388px;
	vertical-align: middle;
	height: 90px;
	line-height: 76px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
}

.button-medium {
	width: 164px;
	vertical-align: middle;
	height: 55px;
	line-height: 46px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
	font-size: 22px;
}

.button-small {
	width: 140px;
	vertical-align: middle;
	height: 102px;
	line-height: 86px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
}

.button-regular {
	width: 184px;
	vertical-align: middle;
	height: 108px;
	line-height: 91px; /* yj: height * .84; shorter than height to account for white space at buttom of button */
	display: inline-block;
}

.game-option-arrow {
	position: relative;
	top: 5px;
}

#dialog-game-over {
	width: 717px;
	height: 247px;
	left: 281px; /*(1279-717/2)*/
	top: 236px; /*(720-247/2)*/
}

#dialog-leaderboards {
	width: 1081px;
	height: 625px;
	left: 99px; /*(1279-1081/2)*/
	top: 48px; /*(720-625/2)*/
}

#dialog-leaderboards div.dialog-content {	
	width: 900px;
}

#dialog-leaderboards div.dialog-content table {
	display: inline-block;
	background-size: 100% 100%; /* for some reason a value of cover here was chopping off the right side of the background */
	font-size: 24px;
	color: rgb(13,97,132);
	text-align: center;
	margin-top: 50px;
	padding-bottom: 15px;
}

#dialog-leaderboards div.dialog-content table {
	line-height: 22px;
}

#dialog-leaderboards div.dialog-content table>caption {
	color: rgb(255,255,179);
	height: 75px;
}

#dialog-leaderboards div.dialog-content table th {
	color: rgb(141,122,46);
}

#dialog-time-out {
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-time-out div.dialog-content {
 	width: 500px;
}

#dialog-you-won {
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-you-won div.dialog-content {
 	width: 500px;
}

#dialog-you-won div.dialog-content p {
 	font-size: 23px;
}

span#final-score {
	color: rgb(243,209,111);
}

#dialog-loading {
	width: 543px;
	height: 268px;
	left: 368px;
	top: 220px;
	font-size: 28px;
}

#dialog-new-game {
	width: 717px;
	height: 590px;
	left: 281px; /*(1279-717/2)*/
	top: 65px; /*(720-590/2)*/
	font-size: 27px;
}

#dialog-game-options {
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-profile-delete {
	width: 717px;
	height: 590px;
	left: 281px; /*(1279-717/2)*/
	top: 65px; /*(720-590/2)*/
}


#dialog-profile-delete div.dialog-content {
	width: 375px;
}

#dialog-profile-create {
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
	font-size: 27px;
}

#dialog-profile-create #keypad {
	font-family: 'Helvetica';
	font-size: 17px;
}

#dialog-profile-create .dialog-title {
	top: 35px;
	/*left: 20px;*/
}

.profile-name {
	background-image: url(../res/img/dialog/profiles-name-area.png);
	width: 280px;
	height: 48px;
	border: none;
}

#keypad {
	background-image: url(../res/img/dialog/keyboard/keypad-regular.png);
	width: 376px;
	height: 238px;
}

ul.galapago-drop-down {
	list-style-type: none;
	text-align: left;
	width: 326px;
	height: 177px;
	padding: 10px 0px 0px 20px;
	margin: -20px 0px 0px 20px;
	/*visibility: hidden;*/
}

#button-game-tips, #button-off {
	display: inline-block;
}

#dialog-profile-create-init
 {
	width: 1081px;
	height: 625px;
	left: 99px; /*(1279-1081/2)*/
	top: 48px; /*(720-625/2)*/
}

#dialog-profile-list {
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
	font-size: 18px;
}

#dialog-profile-list #option-save {
	height: 150px;
	background-size: 388px 150px;
	line-height: 27px;
	padding-top: 45px;
	font-size: 21px;
}

#dialog-reset-game {
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-reset-game div.dialog-content {
	width: 500px;
}

#dialog-help {
	width: 1082px;
	height: 624px;
	left: 99px;
	top: 58px;
}

.up-down{
	width:34px;
	height:34px;
	display: inline-block;
	vertical-align: middle;
}

#dialog-help div.dialog-content {
	width: 900px;
	height: 480px;
	overflow: hidden;
}

#help-text-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 300px;
	width: 908px;
	margin-top: 20px;
	padding: 0px 20px 0px 50px;
	text-align: left;
}

#dialog-help div.dialog-content h4 {
	margin: 0px;
	color: black;
}

#dialog-help .vertical-button-nav {
	margin-top: 15px;
}

#dialog-help div.dialog-content p {
	font-size: 14px;
	color: black;
}

#dialog-help #paging {
	font-size: 14px;
	margin-top: 10px;
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	color: rgb(107,45,0);
}

#dialog-help #version {
	font-size: 14px;
	text-align: left;
	color: rgb(107,45,0);
}

#dialog-help .button-medium {
	height: 61px;
	margin-top: -10px;
}

#version-text {
	padding: 0px 20px 0px 50px;
	text-align: left;
}

#current-page{
	color: rgb(255,255,255);	
}
