html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#nav {
	display: none;
}

#canvas-main {
	border: 0px solid #d3d3d3;
	position: relative;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	background-position: top left;
}

canvas.game-layer {
	position: absolute;
	left: 0;
	top: 0;
}

.overlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
}

.overlay>div {
	width:500px;
	margin: 300px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border:1px solid #000;
}

.itemhover { background-color:#b7b7b7 !important; color:#232323 !important; }

/*
#sound-match-01 {
	display: none;
}
*/