@font-face {
  font-family: 'JungleFever';
  src: url('../res/fonts/JungleFever.ttf');
  src: local('☺'), url('../res/fonts/JungleFever.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../res/fonts/HelveticaRegular.ttf');
  src: local('☺'), url('../res/fonts/HelveticaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../res/fonts/HelveticaBold.ttf');
  src: local('☺'), url('../res/fonts/HelveticaBold.ttf') format('truetype');
}

.jungle {
	font-family: 'JungleFever';
	font-size: 32px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#nav {
	display: none;
}

#canvas-main {
	border: 0px solid #d3d3d3;
	position: relative;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	background-position: top left;
}

canvas.game-layer {
	position: absolute;
	left: 0;
	top: 0;
}

#layer-map-animation {
	position: absolute;
	left: 643px;
	top: 0px;
}

.overlay {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
}

.overlay>div {
	width:500px;
	margin: 300px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;
}

/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
.overlay2 {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	font-family: 'JungleFever';
	font-size: 26px;
	color: white;
	white-space: nowrap;
}

.transparent {
	opacity: 0.5;
}

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border:1px solid #000;
}

.itemhover { background-color:#b7b7b7 !important; color:#232323 !important; }

/*
#sound-match-01 {
	display: none;
}
*/

ul#map-nav {
	display: none;
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	left: 257px;
	top: 647px;
	z-index: 8;
}

ul#map-nav>li {
	display:inline-block;
	margin-right:8px;
	padding:0;
	width: 150px;
	height: 55px;
}

.map-nav-border {
	background: url('res/img/map-screen/button_cursor_map.png') no-repeat left top;
}

img.cursor {
	position:relative;
	z-index: 2;
	top: -54px;
	left: -3px;
}

img.nav-button {
	position:relative;
	z-index: 1;
	top: 0px;
	left: 0px;
}

#dialog-quit {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
	/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
	left: 282px; /*(1280-717/2)*/
	top: 65px; /*(720-590/2)*/

}

div.dialog-content {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	white-space: normal;
}

#dialog-quit div.dialog-content {
 	width: 388px;
}

div.dialog-title {
	position: relative;
	color: brown;
	top: 50px;
}

#dialog-game-menu {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 690px;
	left: 282px; /*(1280-717/2)*/
	top: 15px; /*(720-690/2)*/
}

#dialog-game-menu div.dialog-content {
 	width: 388px;
}

#dialog-level-won {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-level-won div.dialog-content {
 	width: 330px;
	color: rgb(255,255,204);
}

.vertical-align-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#dialog-level-won table {
	font-size: inherit;
	color: inherit;
	margin-top: 20px;
}

#dialog-level-won table th {
	color: inherit;
	text-align: left;
	white-space: nowrap;
}

#dialog-level-won table td {
	color: rgb(255,255,102);
	padding-left: 10px;
}

li.button-huge {
	background: url('../res/img/dialogs/button_huge_regular.png') no-repeat left top;
	width: 388px;
	height: 94px;
	vertical-align: middle;
	line-height: 114px;
}

li.button-huge-hilight {
	background-image: url('../res/img/dialogs/button_huge_highlight.png');
}

li.button-medium {
	background: url('../res/img/dialogs/button_medium_regular.png') no-repeat left top;
	width: 190px;
	height: 81px;
	vertical-align: middle;
	line-height: 81px;
}

li.button-medium-hilight {
	background-image: url('../res/img/dialogs/button_medium_highlight.png');
}

li.button-small {
	background: url('../res/img/dialogs/button_small_regular.png') no-repeat left top;
	width: 140px;
	height: 102px;
	vertical-align: middle;
	line-height: 102px;
}

li.button-small-hilight {
	background-image: url('../res/img/dialogs/button_small_highlight.png');
}

ul.vertical-button-nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

ul.vertical-button-nav > li {
	list-style-type: none;
}

#dialog-level-won>div ul {
	display: inline-block;
}