@font-face {
  font-family: 'JungleFever';
  src: url('../res/fonts/JungleFever.ttf');
  src: local('☺'), url('../res/fonts/JungleFever.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../res/fonts/HelveticaRegular.ttf');
  src: local('☺'), url('../res/fonts/HelveticaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../res/fonts/HelveticaBold.ttf');
  src: local('☺'), url('../res/fonts/HelveticaBold.ttf') format('truetype');
}

.jungle {
	font-family: 'JungleFever';
	font-size: 32px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#nav {
	display: none;
}

#canvas-main {
	border: 0px solid #d3d3d3;
	position: relative;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	background-position: top left;
}

canvas.game-layer {
	position: absolute;
	left: 0;
	top: 0;
}

#layer-map-animation {
	position: absolute;
	left: 643px;
	top: 0px;
}

.overlay {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
}

.overlay>div {
	width:500px;
	margin: 300px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;
}

.overlay2 {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	font-family: 'JungleFever';
	font-size: 24px;
	color: white;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border:1px solid #000;
}

.itemhover { background-color:#b7b7b7 !important; color:#232323 !important; }

/*
#sound-match-01 {
	display: none;
}
*/

ul#map-nav {
	display: none;
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	left: 257px;
	top: 647px;
	z-index: 8;
}

ul#map-nav>li {
	display:inline-block;
	margin-right:8px;
	padding:0;
	width: 150px;
	height: 55px;
}

.map-nav-border {
	background: url('res/img/map-screen/button_cursor_map.png') no-repeat left top;
}

img.cursor {
	position:relative;
	z-index: 2;
	top: -54px;
	left: -3px;
}

img.nav-button {
	position:relative;
	z-index: 1;
	top: 0px;
	left: 0px;
}

#dialog-quit {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
}

#dialog-quit>div {
	/*display: inline-block;*/
 	width:388px;
	height:360px;
	position:absolute;
	top:180px;
	left:165px; /*717 - 388 / 2*/
}

span.dialog-title {
	position: relative;
	color: brown;
	top: 50px;
}

#dialog-game-menu {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 690px;
}

#dialog-game-menu>div {
	/*display: inline-block;*/
 	width:388px;
	height:460px;
	position:absolute;
	top:100px;
	left:165px; /*717 - 388 / 2*/
}

li.button-huge {
	background: url('../res/img/dialogs/button_huge_regular.png') no-repeat left top;
	width: 388px;
	height: 94px;
	vertical-align: middle;
	line-height: 114px;
}

ul.vertical-button-nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

ul.vertical-button-nav > li {
	list-style-type: none;
}

li.button-huge-hilight {
	background-image: url('../res/img/dialogs/button_huge_highlight.png');
}