@font-face {
  font-family: 'JungleFever';
  src: url('../res/fonts/JungleFever.ttf');
  src: local('☺'), url('../res/fonts/JungleFever.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../res/fonts/HelveticaRegular.ttf');
  src: local('☺'), url('../res/fonts/HelveticaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../res/fonts/HelveticaBold.ttf');
  src: local('☺'), url('../res/fonts/HelveticaBold.ttf') format('truetype');
}

.jungle {
	font-family: 'JungleFever';
	font-size: 32px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

canvas, div, li {
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100% 100%;
}

/* disable visual effects on focused elements;
see http://dev.opera.com/articles/view/tweaking-spatial-navigation-for-tv-browsing/ */
*:focus {
  outline: 0px solid rgba(0, 0, 0, 0);
}
*:hover {
  outline: 0px solid rgba(0, 0, 0, 0);
}

#nav {
	display: none;
}

canvas {
	position: absolute;
}

.canvas-fullscreen {
	border: 0px solid #d3d3d3;
	width: 1279px;
	height: 720px;
	display: none;
}

#copyright {
	font-family: 'HelveticaBold';
	font-size: 13px;
	color: rgb(255,255,255);
	position: absolute;
	width: 1279px; /* with less this could be a variable shared with galapago.width */
	top: 635px;
	text-align: center;
}

canvas.layer-board {
	position: absolute;
	left: 0;
	top: 0;
}

#layer-map-animation {
	position: absolute;
	left: 643px;
	top: 0px;
}

/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
.overlay2 {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 9999;
	font-family: 'JungleFever';
	font-size: 26px;
	color: rgb(255,255,179);
	white-space: nowrap;
}

.transparent {
	opacity: 0.5;
}

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border:1px solid #000;
}

.itemhover { background-color:#b7b7b7 !important; color:#232323 !important; }

/*
#sound-match-01 {
	display: none;
}
*/

.bubbleTip {
	width:700px;
	font-family: 'JungleFever';
	font-size: 18px;
	left: 200px; 
	top:80px;
	z-index:1000; 
	position:absolute; 
	background: #ffffff;
	border: 2px solid #000000;
	z-index: 1000;
	display: none;
}

.bubbleTip:after, .bubbleTip:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubbleTip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	left: 4%;
	margin-left: -10px;
}
.bubbleTip:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 13px;
	left: 4%;
	margin-left: -13px;
}

#current-score {
	position: absolute;
	/*left: 500px; yj: left is dynamically positioned by .js code to align with left side of game board */
	top: 60px;
	width: 100px;
	height: 25px;
	font-family: 'JungleFever';
	font-size: 26px;
	color: rgba(255,255,255, 100);
}

#level-name {
	position: absolute;
	left: 600px;
	top: 60px;
	width: 400px;
	height: 30px;
	font-family: 'JungleFever';
	font-size: 30px;
	color: rgba(19, 19, 197, 100);
	text-align: top;
}

#game-nav {
	position: absolute;
	left: 124px;
	top: 600px;
}

#game-nav .game-nav-button {
	width: 116px;
	height: 42px;
}

#layer-bob-cervantes {
	position: absolute;
	left: 0px;
	top: 0px;
}
#layerGrid{
	left: 325px; 
	top:100px;
	z-index:2; 
	position:absolute; 
	border-collapse: collapse;
}

.rowDiv{
	height:47px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing:0px;
}
.columnSpan{
	height:47px;
	width:47px;
	padding:0px;
	margin:0px;
	position:absolute; 
}

.gameNav{
	position:absolute;
	left:124px;
	height:42px;
	line-height:42px;
	width:116px;
	text-align:center;
	z-index: 9999;
	font-family: 'JungleFever';
	font-size: 17px;
	color: rgb(107,45,0);
	vertical-align:middle;
}