@font-face {
  font-family: 'JungleFever';
  src: url('../res/fonts/JungleFever.ttf');
  src: local('☺'), url('../res/fonts/JungleFever.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../res/fonts/HelveticaRegular.ttf');
  src: local('☺'), url('../res/fonts/HelveticaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../res/fonts/HelveticaBold.ttf');
  src: local('☺'), url('../res/fonts/HelveticaBold.ttf') format('truetype');
}

.jungle {
	font-family: 'JungleFever';
	font-size: 32px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* disable visual effects on focused elements;
see http://dev.opera.com/articles/view/tweaking-spatial-navigation-for-tv-browsing/ */
* {
  outline: 0px solid rgba(0,0,0,0.0);
}

#nav {
	display: none;
}

#canvas-main {
	border: 0px solid #d3d3d3;
	position: relative;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	background-position: top left;
}

canvas.game-layer {
	position: absolute;
	left: 0;
	top: 0;
}

#layer-map-animation {
	position: absolute;
	left: 643px;
	top: 0px;
}

.overlay {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
}

.overlay>div {
	width:500px;
	margin: 300px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;
}

/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
.overlay2 {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	font-family: 'JungleFever';
	font-size: 26px;
	color: rgb(255,255,181);
	white-space: nowrap;
}

.transparent {
	opacity: 0.5;
}

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border:1px solid #000;
}

.itemhover { background-color:#b7b7b7 !important; color:#232323 !important; }

/*
#sound-match-01 {
	display: none;
}
*/

ul#map-nav {
	display: none;
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	left: 257px;
	top: 647px;
	z-index: 8;
}

ul#map-nav>li {
	display:inline-block;
	margin-right:8px;
	padding:0;
	width: 150px;
	height: 55px;
}

.map-nav-border {
	background: url('res/img/map-screen/button_cursor_map.png') no-repeat left top;
}

img.cursor {
	position:relative;
	z-index: 2;
	top: -54px;
	left: -3px;
}

img.nav-button {
	position:relative;
	z-index: 1;
	top: 0px;
	left: 0px;
}

.vertical-align-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#dialog-quit {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
	/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
	left: 282px; /*(1280-717/2)*/
	top: 65px; /*(720-590/2)*/

}

div.dialog-content {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	white-space: normal;
}

#dialog-quit div.dialog-content {
 	width: 388px;
}

div.dialog-title {
	position: relative;
	color: rgb(141,122,46);
	top: 50px;
}

#dialog-game-menu {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 690px;
	left: 282px; /*(1280-717/2)*/
	top: 15px; /*(720-690/2)*/
}

#dialog-game-menu div.dialog-content {
 	width: 388px;
}

#dialog-game-menu ul.vertical-button-nav {
	margin-top: -50px; /* jj: either we need this or buttons some of the transparent space around them removed; */
}

#dialog-level-won {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-level-won div.dialog-content {
 	width: 330px;
	color: rgb(255,255,204);
}

#dialog-level-won>div ul {
	display: inline-block;
}

#dialog-level-won table {
	font-size: inherit;
	color: inherit;
	margin-top: 20px;
}

#dialog-level-won table th {
	color: inherit;
	text-align: left;
	white-space: nowrap;
}

#dialog-level-won table td {
	color: rgb(255,255,102);
	padding-left: 10px;
}


.button-huge {
	background: url('../res/img/dialogs/button_huge_regular.png') no-repeat left top;
	width: 388px;
	height: 94px;
	vertical-align: middle;
	line-height: 114px;
}

.button-huge-hilight {
	background-image: url('../res/img/dialogs/button_huge_highlight.png');
}

.button-big {
	background: url('../res/img/dialogs/button_big_regular.png') no-repeat left top;
	width: 388px;
	height: 90px;
	vertical-align: middle;
	line-height: 90px;
}

.button-big-hilight {
	background-image: url('../res/img/dialogs/button_big_highlight.png');
}

.button-medium {
	background: url('../res/img/dialogs/button_medium_regular.png') no-repeat left top;
	width: 190px;
	height: 81px;
	vertical-align: middle;
	line-height: 81px;
}

.button-medium-hilight {
	background-image: url('../res/img/dialogs/button_medium_highlight.png');
}

.button-small {
	background: url('../res/img/dialogs/button_small_regular.png') no-repeat left top;
	width: 140px;
	height: 102px;
	vertical-align: middle;
	line-height: 102px;
}

.button-small-hilight {
	background-image: url('../res/img/dialogs/button_small_highlight.png');
}

ul.vertical-button-nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

ul.vertical-button-nav > li {
	list-style-type: none;
}

#dialog-game-over {
	background: url('../res/img/dialogs/bg_small.png') no-repeat left top;
	width: 717px;
	height: 247px;
	left: 282px; /*(1280-717/2)*/
	top: 236px; /*(720-247/2)*/
}

#dialog-leaderboards {
	background: url('../res/img/dialogs/bg_large.png') no-repeat left top;
	width: 1081px;
	height: 625px;
	left: 100px; /*(1280-1081/2)*/
	top: 48px; /*(720-625/2)*/
}

#dialog-leaderboards div.dialog-content {
	width: 900px;
}

#dialog-leaderboards div.dialog-content table {
	display: inline-block;
	font-size: 16px;
	color: rgb(13,97,133);
	text-align: center;
	background: url('../res/img/dialogs/drop_down_menu.png') no-repeat left top;
	background-size: 100% 100%; /* for some reason a value of cover here was chopping off the right side of the background */
	margin-top: 50px;
	padding-bottom: 15px;
}

#dialog-leaderboards div.dialog-content table>caption {
	color: rgb(255,255,181);
	height: 75px;
}

#dialog-leaderboards div.dialog-content table th {
	color: rgb(140,122,46);
}

#dialog-time-out {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-time-out div.dialog-content {
 	width: 500px;
}

#dialog-you-won {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-you-won div.dialog-content {
 	width: 500px;
}

#dialog-you-won div.dialog-content p {
 	font-size: 16pt;
}

span#final-score {
	color: rgb(244,210,113);
}

#dialog-loading {
	background: url('../res/img/dialogs/bg_small_noTitle.png') no-repeat left top;
	width: 543px;
	height: 268px;
	left: 368px;
	top: 220px;
}

#dialog-new-game {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
	left: 282px; /*(1280-717/2)*/
	top: 65px; /*(720-590/2)*/
}

#dialog-game-options {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-profile-delete {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
	left: 282px; /*(1280-717/2)*/
	top: 65px; /*(720-590/2)*/
}


#dialog-profile-delete div.dialog-content {
	width: 375px;
}

#dialog-profile-create {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-profile-create .dialog-title {
	top: 35px;
	left: 20px;
}

.profile-name {
	background: url('../res/img/dialogs/profiles_name_area.png') no-repeat left top;
	width: 280px;
	height: 48px;
	border: none;
}

#keypad {
	background: url('../res/img/dialogs/keyboard/keypad_regular.png') no-repeat left top;
	width: 376px;
	height: 238px;
}

.bubbleTip {
	width:700px;
	font-family: 'JungleFever';
	font-size: 18px; 
	left: 280px; 
	top:30px;
	background-color: white;
	position: absolute;
	z-index: 1000;
	border : 2px solid black; 
	padding-left: 10px;
	padding-top: 10px;
	display:none;
}

ul.galapago-drop-down {
	list-style-type: none;
	text-align: left;
	background: url('../res/img/dialogs/drop_down_menu.png') no-repeat left top;
	width: 326px;
	height: 177px;
	padding: 10px 0px 0px 20px;
	margin: -20px 0px 0px 20px;
	/*visibility: hidden;*/
}

#button-game-tips, #button-off {
	display: inline-block;
}

#dialog-profile-create-init
 {
	background: url('../res/img/dialogs/bg_large.png') no-repeat left top;
	width: 1081px;
	height: 625px;
	left: 100px; /*(1280-1081/2)*/
	top: 48px; /*(720-625/2)*/
}

#dialog-profile-list {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
	font-size: 18px;
}

#dialog-profile-list #option-save {
	height: 150px;
	background-size: 388px 150px;
	line-height: 27px;
	padding-top: 45px;
}

#dialog-reset-game {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-reset-game div.dialog-content {
	width: 500px;
}

#dialog-help {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-help div.dialog-content {
	width: 500px;
	text-align: left;
}

#dialog-help div.dialog-content h3 {
	font-size: 14px;
}

#dialog-help div.dialog-content p {
	font-family: 'Helvitica';
	font-size: 14px;
}

#help-text-scroll {
	overflow-y: scroll;
	height: 300px;
	margin-top: 50px;
	padding: 0px 20px 0px 50px;
}

#dialog-help .button-medium {
	height: 81px;
	line-height: 81px;
}