@font-face {
  font-family: 'JungleFever';
  src: url('../res/fonts/JungleFever.ttf');
  src: local('☺'), url('../res/fonts/JungleFever.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../res/fonts/HelveticaRegular.ttf');
  src: local('☺'), url('../res/fonts/HelveticaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../res/fonts/HelveticaBold.ttf');
  src: local('☺'), url('../res/fonts/HelveticaBold.ttf') format('truetype');
}

.jungle {
	font-family: 'JungleFever';
	font-size: 32px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* disable visual effects on focused elements;
see http://dev.opera.com/articles/view/tweaking-spatial-navigation-for-tv-browsing/ */
* {
  outline: 0px solid rgba(0,0,0,0.0);
}

#nav {
	display: none;
}

canvas {
	position: absolute;
}

.canvas-fullscreen {
	border: 0px solid #d3d3d3;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	background-position: top left;
	display: none;
}

#copyright {
	font-family: 'HelveticaBold';
	font-size: 13pt;
	color: rgb(255,255,255);
	position: absolute;
	width: 1280px; /* with less this could be a variable shared with galapago.width */
	top: 635px;
	text-align: center;
}

canvas.layer-board {
	position: absolute;
	left: 0;
	top: 0;
}

#layer-map-animation {
	position: absolute;
	left: 643px;
	top: 0px;
}

/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
.overlay2 {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 9999;
	font-family: 'JungleFever';
	font-size: 26px;
	color: rgb(255,255,179);
	white-space: nowrap;
}

.transparent {
	opacity: 0.5;
}

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border:1px solid #000;
}

.itemhover { background-color:#b7b7b7 !important; color:#232323 !important; }

/*
#sound-match-01 {
	display: none;
}
*/

ul#map-nav {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	left: 257px;
	top: 647px;
}

ul#map-nav>li {
	display:inline-block;
	margin-right:8px;
	padding:0;
	width: 150px;
	height: 55px;
}

img#map-nav-cursor {
	position:relative;
	top: -5px;
	left: -3px;
}

div.nav-button {
	position:relative;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 145px;
	height: 49px;
}

.vertical-align-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#dialog-quit {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
	/* TODO: figure out how to vertically and horizontally center either the overlay or its contents */
	left: 282px; /*(1280-717/2)*/
	top: 65px; /*(720-590/2)*/

}

div.dialog-content {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	white-space: normal;
}

#dialog-quit div.dialog-content {
 	width: 388px;
}

div.dialog-title {
	position: relative;
	font-size: 28px;
	color: rgb(141,122,46);
	top: 50px;
}

#dialog-game-menu {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 690px;
	left: 282px; /*(1280-717/2)*/
	top: 15px; /*(720-690/2)*/
}

#dialog-game-menu div.dialog-content {
 	width: 388px;
}

#dialog-game-menu ul.vertical-button-nav {
	margin-top: -50px; /* jj: either we need this or buttons some of the transparent space around them removed; */
}

#dialog-level-won {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-level-won div.dialog-content {
 	width: 350px;
 	font-size: 27px;
}

#dialog-level-won>div ul {
	display: inline-block;
}

#dialog-level-won table {
	font-size: inherit;
	color: inherit;
	margin-top: 20px;
}

#dialog-level-won table th {
	color: inherit;
	text-align: left;
	white-space: nowrap;
}

#dialog-level-won table td {
	color: rgb(243,209,111);
	padding-left: 10px;
}


.button-huge {
	background: url('../res/img/dialogs/button_huge_regular.png') no-repeat left top;
	width: 388px;
	height: 94px;
	vertical-align: middle;
	line-height: 114px;
	font-size: 27px;
}

.button-huge-hilight {
	background-image: url('../res/img/dialogs/button_huge_highlight.png');
}

.button-big {
	background: url('../res/img/dialogs/button_big_regular.png') no-repeat left top;
	width: 388px;
	height: 90px;
	vertical-align: middle;
	line-height: 90px;
}

.button-big-hilight {
	background-image: url('../res/img/dialogs/button_big_highlight.png');
}

.button-medium {
	background: url('../res/img/dialogs/button_medium_regular.png') no-repeat left top;
	width: 190px;
	height: 81px;
	vertical-align: middle;
	line-height: 81px;
	font-size: 22px;
}

.button-medium-hilight {
	background-image: url('../res/img/dialogs/button_medium_highlight.png');
}

.button-small {
	background: url('../res/img/dialogs/button_small_regular.png') no-repeat left top;
	width: 140px;
	height: 102px;
	vertical-align: middle;
	line-height: 102px;
}

.button-regular {
	background: url('../res/img/dialogs/button_gameMenu_regular.png') no-repeat left top;
	width: 184px;
	height: 108px;
	vertical-align: middle;
	line-height: 108px;
	display: inline-block;
}

.game-option-arrow {
	position: relative;
	top: 5px;
}

.button-regular-hilight {
	background: url('../res/img/dialogs/button_gameMenu_hilight.png') no-repeat left top;
}

.button-small-hilight {
	background-image: url('../res/img/dialogs/button_small_highlight.png');
}

ul.vertical-button-nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	display: inline-block;
}

ul.vertical-button-nav > li {
	list-style-type: none;
}

#dialog-game-over {
	background: url('../res/img/dialogs/bg_small.png') no-repeat left top;
	width: 717px;
	height: 247px;
	left: 282px; /*(1280-717/2)*/
	top: 236px; /*(720-247/2)*/
}

#dialog-leaderboards {
	background: url('../res/img/dialogs/bg_large.png') no-repeat left top;
	width: 1081px;
	height: 625px;
	left: 100px; /*(1280-1081/2)*/
	top: 48px; /*(720-625/2)*/
}

#dialog-leaderboards div.dialog-content {	
	width: 900px;
}

#dialog-leaderboards div.dialog-content table {
	display: inline-block;
	font-size: 24px;
	color: rgb(13,97,132);
	text-align: center;
	background: url('../res/img/dialogs/drop_down_menu.png') no-repeat left top;
	background-size: 100% 100%; /* for some reason a value of cover here was chopping off the right side of the background */
	margin-top: 50px;
	padding-bottom: 15px;
}

#dialog-leaderboards div.dialog-content table {
	line-height: 22px;
}

#dialog-leaderboards div.dialog-content table>caption {
	color: rgb(255,255,179);
	height: 75px;
}

#dialog-leaderboards div.dialog-content table th {
	color: rgb(141,122,46);
}

#dialog-time-out {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-time-out div.dialog-content {
 	width: 500px;
}

#dialog-you-won {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-you-won div.dialog-content {
 	width: 500px;
}

#dialog-you-won div.dialog-content p {
 	font-size: 23pt;
}

span#final-score {
	color: rgb(243,209,111);
}

#dialog-loading {
	background: url('../res/img/dialogs/bg_small_noTitle.png') no-repeat left top;
	width: 543px;
	height: 268px;
	left: 368px;
	top: 220px;
	font-size: 28px;
}

#dialog-new-game {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
	left: 282px; /*(1280-717/2)*/
	top: 65px; /*(720-590/2)*/
	font-size: 27px;
}

#dialog-game-options {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-profile-delete {
	background: url('../res/img/dialogs/bg_regular.png') no-repeat left top;
	width: 717px;
	height: 590px;
	left: 282px; /*(1280-717/2)*/
	top: 65px; /*(720-590/2)*/
}


#dialog-profile-delete div.dialog-content {
	width: 375px;
}

#dialog-profile-create {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
	font-size: 27px;
}

#dialog-profile-create #keypad {
	font-family: 'Helvetica';
	font-size: 17px;
}

#dialog-profile-create .dialog-title {
	top: 35px;
	left: 20px;
}

.profile-name {
	background: url('../res/img/dialogs/profiles_name_area.png') no-repeat left top;
	width: 280px;
	height: 48px;
	border: none;
}

#keypad {
	background: url('../res/img/dialogs/keyboard/keypad_regular.png') no-repeat left top;
	width: 376px;
	height: 238px;
}

ul.galapago-drop-down {
	list-style-type: none;
	text-align: left;
	background: url('../res/img/dialogs/drop_down_menu.png') no-repeat left top;
	width: 326px;
	height: 177px;
	padding: 10px 0px 0px 20px;
	margin: -20px 0px 0px 20px;
	/*visibility: hidden;*/
}

#button-game-tips, #button-off {
	display: inline-block;
}

#dialog-profile-create-init
 {
	background: url('../res/img/dialogs/bg_large.png') no-repeat left top;
	width: 1081px;
	height: 625px;
	left: 100px; /*(1280-1081/2)*/
	top: 48px; /*(720-625/2)*/
}

#dialog-profile-list {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
	font-size: 18px;
}

#dialog-profile-list #option-save {
	height: 150px;
	background-size: 388px 150px;
	line-height: 27px;
	padding-top: 45px;
	font-size: 21px;
}

#dialog-reset-game {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-reset-game div.dialog-content {
	width: 500px;
}

#dialog-help {
	background: url('../res/img/dialogs/bg_regular_noTitle.png') no-repeat left top;
	width: 717px;
	height: 626px;
	left: 281px;
	top: 15px;
}

#dialog-help .dialog-title {
	left: 20px;
}

#dialog-help div.dialog-content {
	width: 500px;
}

#help-text-scroll {
	overflow-y: scroll;
	height: 300px;
	margin-top: 20px;
	padding: 0px 20px 0px 50px;
	font-family: 'Helvetica';
	text-align: left;
}

#dialog-help div.dialog-content h4 {
	margin: 0px;
}

#dialog-help div.dialog-content p {
	font-size: 14px;
}

#dialog-help #paging {
	font-family: 'Helvetica';
	font-size: 14px;
}

#dialog-help #version {
	font-family: 'Helvetica';
	font-size: 14px;
	text-align: left;
}

#dialog-help .button-medium {
	height: 61px;
	margin-top: -10px;
}

.bubbleTip {
	width:700px;
	font-family: 'JungleFever';
	font-size: 18px; 
	left: 200px; 
	top:80px;
	z-index:1000; 
	position:absolute; 
	background: #ffffff;
	border: 2px solid #000000;
	z-index: 1000;
	display: none;
}

.bubbleTip:after, .bubbleTip:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubbleTip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	left: 4%;
	margin-left: -10px;
}
.bubbleTip:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 13px;
	left: 4%;
	margin-left: -13px;
}