#screen-main-menu {
	display: none;
	background-repeat: no-repeat;
	background-position: left top;
	width: 1279px;
	height: 720px;
	left: 0px;
	top: 0px;
	font-family: 'JungleFever';
	text-align: center;
}

#screen-main-menu .galapago-drop-down {
	display: none;
	position: absolute;
	left: 300px;
	top: 500px;
	z-index: 2;
}

#button-change-player {
	width: 710px;
	height: 120px;
	line-height: 24px;
	display: table;
	position: absolute;
	top: 175px;
	left: 285px; /* (1280 - 710) / 2*/
	color: rgb(71,221,212);
}

#change-player-text {
	vertical-align: middle;
	display: table-cell;
}

.main-menu-mode {
	position: absolute;
	top: 304px;
	width: 310px;
	height: 218px;
	color: rgb(227, 200, 92);
}

#button-timed {
	left: 314px;
}

#button-relaxed {
	left: 656px;
}

.mode-hilight {
	color: rgb(146, 65, 3);
}

.mode-label {
	position: relative;
	top: 110px;
	width: 153px;
	height: 45px;
	line-height: 53px;
	font-size: 20px;
}

#button-timed .mode-label {
	left: 45px;
}

#button-relaxed .mode-label {
	left: 105px;
}

#main-menu-button-group {
	display: table;
	position: absolute;
	top: 518px;
	left: 367px;
}

.button-group-row {
	display: table-row;
}

.main-menu-button {
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	width: 268px;
	height: 76px;
	color: rgb(71,221,212);
	font-size: 20px;
}

#hello-player {
	color: rgb(226,199,92);
	font-size: 32px;
	display: inline;
}

#click-here {
	display: inline;
	font-size: 24px;
}