#layer-map {
	position: absolute;
	left: 150px; /* old 218px */
	top: 0px;
}

ul#map-nav {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	left: 252px;
	top: 642px;
}

ul#map-nav>li {
	display:inline-block;
	margin-right:8px;
	padding:0;
	width: 150px;
	height: 55px;
	vertical-align: top;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

img#map-nav-cursor {
	position:relative;
}

div.vertical-align-shiv {
	position: relative;
}

div.nav-button {
	position:absolute;
	display: table; 
	width: 150px;
	height: 55px;
}

.nav-button p {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	font-family: 'JungleFever';
	font-size: 17px;
	color: rgb(107,45,0);
}

#map-level-info {
	position: relative;
	left: 985px;
	top: 75px;
	width: 235px;
	height: 151px;
	font-family: 'JungleFever';
	color: rgb(19,97,197);
}

#map-level-name {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 15px;
}

#map-level-complete-indicator {
	position: absolute;
	left: 10px;
	top: 48px;
}

.difficulty-stars {
	position: absolute;
	left: 51px;
	top: 38px;
	height: 43px;
	background-repeat: repeat-x;
	background-size: auto;
}

#map-difficulty-level-gray {
	width: 200px;
	z-index: 1;
}
#map-difficulty-level-gold {
	z-index: 2;
}

#map-level-score-label {
	position: absolute;
	left: 70px;
	top: 80px;
	font-size: 17px;
}

#map-level-score {
	position: absolute;
	left: 70px;
	top: 105px;
	font-size: 22px;
}